
/* header left styling */
body header {
  display: flex;
  flex-direction: column;
}

body header #head {
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
}

body header .left div {
  display: flex;
  flex-direction: column;
}

body header .left div p:first-child {
font-family: 'Yellowtail', cursive;
font-size: 36px;
height: 36px;
}

body header .left div p:nth-child(2) {
  font-family:  sans-serif;
  font-weight: lighter;
  font-size: 6pt;
  margin-left: 5px;
  color: #555;
}

/* header right styling */

.right {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

body header .right #social {
  display: flex;
  align-items: center;
}

body header .right #social img {
  margin: 1px;
}

body header .right #share {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

body .line {
  display: flex;
  background-image: url(./img/hr-img.png);
  height: 15px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* main styling */

body main #title {
  display: flex;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

body main #title .left p:nth-child(1) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 26pt;
}

body main #title .left p:nth-child(2) {
  color:#777;
  font-family: sans-serif;
  font-size: 7pt;
}
body main #title .right{
  align-items: flex-end;
}

body main #title .right p{
  color: #777;
  font-family: sans-serif;
  font-size: 9.1pt;
}

body main article {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body main article p {
  text-indent: 3em;
  font-size: 15pt;
  color: #777;
  font-family:Georgia, 'Times New Roman', Times, serif}

body main #recipe {
  display: flex;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/list-bg.png);
  height: 300px;
  justify-content: center;
}

body main #recipe fieldset {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-evenly;
  font-size: 16pt;
}
body main #recipe fieldset input {
opacity: .5;
}
#lastp {
  margin-bottom: 20px;
}

/* styling for ingredients */

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

body main .linebottom {
  display: flex;
  background-image: url(./img/hr-img.png);
  height: 15px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

article p {
  margin-top: 20px;
}